<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.4/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" backupGlobals="false" failOnWarning="true" failOnRisky="true" beStrictAboutOutputDuringTests="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory>tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="DISABLE_CSRF" value="true"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src/RPC</directory>
    </include>
    <exclude>
      <directory>src/RPC/View/Filter</directory>
      <file>src/RPC/init.php</file>
    </exclude>
  </source>
</phpunit>
